@page
@model Flashcard.Pages.CRUD.Flashcard.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>CardModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CardModel.BundleId" class="control-label"></label>
                <input asp-for="CardModel.BundleId" class="form-control" />
                <span asp-validation-for="CardModel.BundleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardModel.CardId" class="control-label"></label>
                <input asp-for="CardModel.CardId" class="form-control" />
                <span asp-validation-for="CardModel.CardId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardModel.Question" class="control-label"></label>
                <input asp-for="CardModel.Question" class="form-control" />
                <span asp-validation-for="CardModel.Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardModel.Answer" class="control-label"></label>
                <input asp-for="CardModel.Answer" class="form-control" />
                <span asp-validation-for="CardModel.Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardModel.Image" class="control-label"></label>
                <input asp-for="CardModel.Image" class="form-control" />
                <span asp-validation-for="CardModel.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardModel.BackImage" class="control-label"></label>
                <input asp-for="CardModel.BackImage" class="form-control" />
                <span asp-validation-for="CardModel.BackImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardModel.Category" class="control-label"></label>
                <input asp-for="CardModel.Category" class="form-control" />
                <span asp-validation-for="CardModel.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardModel.Explanation" class="control-label"></label>
                <input asp-for="CardModel.Explanation" class="form-control" />
                <span asp-validation-for="CardModel.Explanation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
