@page
@model Flashcard.Pages.CRUD.Bundle.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>BundleModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BundleModel.Name" class="control-label"></label>
                <input asp-for="BundleModel.Name" class="form-control" />
                <span asp-validation-for="BundleModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BundleModel.Description" class="control-label"></label>
                <input asp-for="BundleModel.Description" class="form-control" />
                <span asp-validation-for="BundleModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BundleModel.Price" class="control-label"></label>
                <input asp-for="BundleModel.Price" class="form-control" />
                <span asp-validation-for="BundleModel.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BundleModel.Category" class="control-label"></label>
                <input asp-for="BundleModel.Category" class="form-control" />
                <span asp-validation-for="BundleModel.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BundleModel.Image" class="control-label"></label>
                <input asp-for="BundleModel.Image" class="form-control" />
                <span asp-validation-for="BundleModel.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BundleModel.BundleState" class="control-label"></label>
                <input asp-for="BundleModel.BundleState" class="form-control" />
                <span asp-validation-for="BundleModel.BundleState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BundleModel.SubscriptionPeriod" class="control-label"></label>
                <input asp-for="BundleModel.SubscriptionPeriod" class="form-control" />
                <span asp-validation-for="BundleModel.SubscriptionPeriod" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BundleModel.IsPrivate" /> @Html.DisplayNameFor(model => model.BundleModel.IsPrivate)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
