@page "/"

<div class="p-0 mb-2 bg-primary text-white text-center"><h5 text-align: center;>What are flashcards ?</h5></div>
<p>
    A flashcard or flash card (also known as an index card) is a card bearing information on both sides, which is intended to be used as an aid in memorization. Each flashcard bears a question on one side and an answer on the other. Flashcards are often used to memorize vocabulary, historical dates, formulae or any subject matter that can be learned via a question-and-answer format.
    </p>

<div class="p-0 mb-2 bg-primary text-white text-center"><h5 text-align: center;>How are flashcards useful ?</h5></div>
<p>
    Flashcards are an application of the testing effect − the finding that long-term memory is increased when some of the learning period is devoted to retrieving the information through testing with proper feedback. Study habits affect the rate at which a flashcard-user learns, and proper spacing of flashcards has been proven to accelerate learning.
</p>

<div class="p-0 mb-2 bg-primary text-white text-center"><h5 text-align: center;>How to get access to flashcards ?</h5></div>
<p>
    1. Register on the site<br/>
    2. Login with username and password<br />
    3. Go to "All Bundles" to subscribe<br />
    4. Your bundle will be added to your "My Subscriptions" list<br />
    5. Now , learn and enjoy through flashcards !!
</p>

